.cl1{
    background-color: black;
    border: 1px;
    border-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.cl2{
    background-color:black;
    border: 1px;
    border-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.cl3{
    background-color: black;
    border: 1px;
    border-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.cl4{
    background-color: black;
    border: 1px;
    border-color: whitesmoke;
    border-radius: 5px;
}